.is-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.value-card {
  margin: 0.5%;
}

.value-caption {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5%;
}

.value-subcaption {
  font-size: 14px;
  margin-top: 1%;
  font-style: italic;
}
